<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      {{'AÑADIR_TAREA' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="tasks" (ngSubmit)="this.sendForm()">
    <ion-item>
      <ion-input type="text" 
      formControlName="title"
      placeholder="{{'TÍTULO' | translate}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea 
      formControlName="description"
      placeholder="{{'DESCRIPCIÓN' | translate}}"
      autocapitalize="true"
      auto-grow="true"></ion-textarea>
    </ion-item>
    <div style="text-align: center;">
      <ion-button 
      shape="round"
      color="primary"
      fill="outline"
      type="submit"
      [disabled]="!tasks.valid"><ion-icon name="add-circle"></ion-icon></ion-button>
  </div>
  </form>
</ion-content>
